.postItem {
  display: flex;
  flex-direction: column;

  & + .postItem {
    margin-top: 3rem;
  }

  strong {
    font-size: 1.75rem;
    line-height: 2.125rem;
    color: var(--heading);
  }

  & > span {
    margin-top: 0.5rem;
  }

  .postInfos {
    margin-top: 1.5rem;

    div {
      height: 1.25rem;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & + div {
        margin-left: 2rem;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
      span {
        margin-left: 0.625rem;
        font-size: 0.875rem;
      }
    }
  }
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 4.125rem;

  button {
    color: var(--highlight);
    background: transparent;
    border: 0;
    font-weight: 600;
    font-size: 1.125rem;

    transition: filter 0.2s;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
