.headerContainer {
  height: var(--header-height);
}

.headerContent {
  height: var(--header-height);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 13.125rem 4rem;

  cursor: pointer;
}
